body {
  background-image: url('/img/bubbles.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: auto;
  font-family: 'Roboto Slab', serif;
  width: 85vw;
  height: auto;
}
#intro {
  margin-top: 5vh;
  padding: 10px;
  background-color: #3277a8;
  border: 3px solid #042c38;
  text-align: center;
}
#gif {
  border: 3px solid #042c38;
}
#form {
  background-color: #4492c9;
  border: 3px solid #042c38;
  padding: 10px;
  border-radius: 1%
}
label {
  line-height: 26px;
  margin-bottom: 5px;
  margin-top: 10px;
}
input {
  height: 20px;
  margin-left: 10px;
  margin-bottom: 15px;
}
#img {
  border: 3px solid #042c38;
  margin-bottom: 20px;
}
.hidden {
  display: none;
}
#results {
  background-color: #54c7d6;
  border: 5px solid #042c38;
  padding: 10px;
  text-align: center;
}
#results p {
  font-size: 20px;
}
ul {
  list-style-type: none;
}